datasets
# Pinning key libraries to ensure compatibility and feature availability
transformers>=4.41.0
huggingface-hub>=0.23.0
sentence-transformers>=2.7.0
pytorch-lightning>=2.2.0

# Other libraries
openai
python-dotenv
pytest
tensorboard
umap-learn
plotly
pandas
